// // Place all the styles related to the Users controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/

//  // Variables
// //––––––––––––––––––––––––––––––––––––––––––––––––––

// // Breakpoints
// $bp-larger-than-mobile    : "min-width: 400px" !default;
// $bp-larger-than-phablet   : "min-width: 550px" !default;
// $bp-larger-than-tablet    : "min-width: 750px" !default;
// $bp-larger-than-desktop   : "min-width: 1000px" !default;
// $bp-larger-than-desktophd : "min-width: 1200px" !default;

// // Colors
// $camp-green: #588C7E !default;
// $camp-yellow: #F2E394;
// $camp-beige: #F2AE72;
// $camp-orange: #D96459;
// $camp-red: #8C4646;

// $light-grey: #e1e1e1 !default;
// $dark-grey: #333 !default;
// $primary-color: #588C7E !default;
// $secondary-color: #8C4646 !default;
// $border-color: #bbb !default;
// $link-color: $camp-green !default;
// $font-color: #222 !default;


// // Typography
// $font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

// //Grid Variables
// $container-width: 960px !default;
// $container-width-larger-than-mobile: 85% !default;
// $container-width-larger-than-phablet: 80% !default;
// $total-columns: 12 !default;
// $column-width: 100 / $total-columns !default; // calculates individual column width based off of # of columns
// $column-margin: 4% !default; // space between columns

// // Misc
// $global-radius: 4px !default;

// // Functions
// @function grid-column-width($n) {
//   @return $column-width * $n - ($column-margin*($total-columns - $n)/$total-columns);
// }

// @function grid-offset-length($n) {
//   @return grid-column-width($n) + $column-margin;
// }

// html {
//   font-size: 62.5%;
// }

// body {
//   font-size: 1.5em; // currently ems cause chrome bug misinterpreting rems on body element
//   line-height: 1.6;
//   font-weight: 400;
//   font-family: $font-family;
//   color: $font-color;
// }
// // grid

// .container {
//   position: relative;
//   width: 100%;
//   max-width: $container-width;
//   margin: 0 auto;
//   padding: 0 20px;
//   box-sizing: border-box;
// }

// .c {
//   width: 100%;
//   float: left;
//   box-sizing: border-box;
// }

// // For devices larger than 400px
// @media (#{$bp-larger-than-mobile}) {
//   .container {
//     width: $container-width-larger-than-mobile;
//     padding: 0;
//   }
// }

// // For devices larger than 550px
// @media (#{$bp-larger-than-phablet}) {
//   .container {
//     width: $container-width-larger-than-phablet;
//   }
//   .c {
//     margin-left: $column-margin;
//   }
//   .c:first-child {
//     margin-left: 0;
//   }
// }

// .c .c1          { width: grid-column-width(1);  }
// .c .c2          { width: grid-column-width(2);  }
// .c .c3        { width: grid-column-width(3);  }
// .c .c4         { width: grid-column-width(4);  }
// .c .c5         { width: grid-column-width(5);  }
// .c .c6          { width: grid-column-width(6);  }
// .c .c7        { width: grid-column-width(7);  }
// .c .c8        { width: grid-column-width(8);  }
// .c .c9         { width: grid-column-width(9);  }
// .c .c10          { width: grid-column-width(10); }
// .c .c11       { width: grid-column-width(11); }
// .c .c12       { width: 100%; margin-left: 0;  }

// .c .c1-3     { width: grid-column-width(4);  }
// .c .c2-3    { width: grid-column-width(8);  }
// .c .c1-2      { width: grid-column-width(6);  }


// // Offsets
// .c .co1      { margin-left: grid-offset-length(1);  }
// .c .co2       { margin-left: grid-offset-length(2);  }
// .c .co3     { margin-left: grid-offset-length(3);  }
// .c .co4      { margin-left: grid-offset-length(4);  }
// .c .co5      { margin-left: grid-offset-length(5);  }
// .c .co6       { margin-left: grid-offset-length(6);  }
// .c .co7     { margin-left: grid-offset-length(7);  }
// .c .co8     { margin-left: grid-offset-length(8);  }
// .c .co9      { margin-left: grid-offset-length(9);  }
// .c .co10       { margin-left: grid-offset-length(10); }
// .c .co11    { margin-left: grid-offset-length(11); }


// .c .co1-3  { margin-left: grid-offset-length(4);  }
// .c .co2-3 { margin-left: grid-offset-length(8);  }
// .c .co1-2   { margin-left: grid-offset-length(6);  }

// // buttons

// .b1 {
//   color: #fff;
//   background-color: $primary-color;
//   border-color: $primary-color;
// 	&:hover {
// 	  color: #fff;
// 	  background-color: $link-color;
// 	  border-color: $link-color;
// 	}
// 	&:focus {
// 	  color: #fff;
// 	  background-color: $link-color;
// 	  border-color: $link-color;
// 	}
// }

// .b2 {
//   display: inline-block;
//   height: 38px;
//   padding: 0 30px;
//   color: $secondary-color;
//   text-align: center;
//   font-size: 11px;
//   font-weight: 600;
//   line-height: 38px;
//   letter-spacing: .1rem;
//   text-transform: uppercase;
//   text-decoration: none;
//   white-space: nowrap;
//   background-color: $secondary-color;
//   border-radius: $global-radius;
//   border: 1px solid $border-color;
//   cursor: pointer;
//   box-sizing: border-box;
// 	&:hover {
// 	  color: $dark-grey;
// 	  border-color: lighten($dark-grey, 33.3%);
// 	  outline: 0;
// 	}
// 	&:focus {
// 	  color: $dark-grey;
// 	  border-color: lighten($dark-grey, 33.3%);
// 	  outline: 0;
// 	}
// }

// // Forms
// //––––––––––––––––––––––––––––––––––––––––––––––––––

// textarea, select {
//   height: 38px;
//   padding: 6px 10px; // The 6px vertically centers text on FF, ignored by Webkit
//   background-color: #fff;
//   border: 1px solid lighten($border-color, 8.8%);
//   border-radius: $global-radius;
//   box-shadow: none;
//   box-sizing: border-box;
// }

// textarea {
//   min-height: 65px;
//   padding-top: 6px;
//   padding-bottom: 6px;
// }

// input {
// 	display: block;
//   &[type="email"]:focus,
//   &[type="number"]:focus,
//   &[type="search"]:focus,
//   &[type="text"]:focus,
//   &[type="tel"]:focus,
//   &[type="url"]:focus,
//   &[type="password"]:focus {
//     border: 1px solid $primary-color;
//     outline: 0;
//   }
// }

// textarea:focus, select:focus {
//   border: 1px solid $primary-color;
//   outline: 0;
// }

// label, legend {
//   display: block;
//   margin-bottom: .5rem;
//   font-weight: 600;
// }

// fieldset {
//   padding: 0;
//   border-width: 0;
// }

// input {
//   &[type="checkbox"], &[type="radio"] {
//     display: inline;
//   }
// }

// label > .label-body {
//   display: inline-block;
//   margin-left: .5rem;
//   font-weight: normal;
// }
